<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Access Denied- Library</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="shortcut icon" type="image/ico" th:href="@{/images/favicon.ico}"/>
</head>
<body>
<div class="app-area">
    <h1>You are not allowed to see this page</h2>
    <form action="#" th:action="@{/users/redirectTo}" method="get">
        <button type="submit">Home page</button>
    </form>
</div>
</body>
</html>