<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Library Manager</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<nav clas="main-nav">
    <a th:href="@{/static}">Main Menu</a>
    <a th:href="@{/login/}">Login</a>
    <a th:href="@{/register/}">Register</a>
    <a th:href="@{/book-manager/}">Manage Books</a>
    <a th:href="@{/library/}">Borrow Books</a>
</nav>
<div clas="app-area">
    <a th:href="@{addBookForm}">
        <button>Add Book</button>
    </a>
    <a th:href="@{setBookAmountForm}">
        <button>Set Book Amount</button>
    </a>
    <a th:href="@{viewBooks}">
        <button>View Books</button>
    </a>
</div>
</body>
</html>