<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Books - Library Manager</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="shortcut icon" type="image/ico" th:href="@{/images/favicon.ico}"/>
</head>
<body>
<nav class="main-nav">
    <div th:insert="~{fragments/header::admin-menu}"></div>
</nav>
<div class="content-area">
    <div class="app-area">
        <h2>Books collection:</h2>
        <table th:insert="~{fragments/content::admin-book-table(books = ${books})}"></table>
    </div>
</div>
</body>
</html>