<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="shortcut icon" type="image/ico" th:href="@{/images/favicon.ico}"/>
</head>
<body>
<table class="book-table" th:fragment="basic-book-table(books)">
        <tr class="row header">
            <th>Book ID</th>
            <th>Title</th>
            <th>Genre</th>
            <th>Publication Year</th>
            <th>Author</th>
        </tr>
        <tbody>
        <tr th:each="b : ${books}">
            <td th:text="${b.bookId}"/>
            <td th:text="${b.title}"/>
            <td th:text="${b.bookGenre.displayName}"/>
            <td th:text="${b.publicationYear}"/>
            <td th:text="${b.author}"/>
        </tr>
        </tbody>
</table>
<table class="book-table" th:fragment="admin-book-table(books)">
    <tr>
        <th>Book ID</th>
        <th>Title</th>
        <th>Genre</th>
        <th>Publication Year</th>
        <th>Author</th>
        <th>Total Amount</th>
        <th>Current Amount</th>
    </tr>
    <tbody>
    <tr th:if="${books.isEmpty()}">
        <td colspan="7">Library collection is empty</td>
    </tr>
    <tr th:each="b : ${books}">
        <td th:text="${b.bookId}"/>
        <td th:text="${b.title}"/>
        <td th:text="${b.bookGenre.displayName}"/>
        <td th:text="${b.publicationYear}"/>
        <td th:text="${b.author}"/>
        <td th:text="${b.totalBookAmount}"/>
        <td th:text="${b.currentBookAmount}"/>
    </tr>
    </tbody>
</table>
</body>
</html>