<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div th:fragment="customer-menu" class="nav-menu">
        <a th:href="@{/}">Main Menu</a>
        <a th:href="@{/library/}">Borrow Books</a>
        <a th:href="@{cartView}">Cart</a>
        <a th:href="@{/login/}">Logout</a>
    </div>
    <div th:fragment="admin-menu" class="nav-menu">
        <a th:href="@{/}">Main Menu</a>
        <a th:href="@{/book-manager/}">Manage Books</a>
        <a th:href="@{/login/}">Logout</a>
    </div>
    <div th:fragment="non-signed-in-menu" class="nav-menu">
        <a th:href="@{/}">Main Menu</a>
        <a th:href="@{/login}">Login</a>
        <a th:href="@{/registerForm}">Register</a>
        <a th:href="@{/book-manager/}">Manage Books</a>
        <a th:href="@{/library/}">Borrow Books</a>
    </div>
</body>
</html>