<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main Menu - Library</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="shortcut icon" type="image/ico" th:href="@{/images/favicon.ico}"/>

</head>
<body>
<nav class="main-nav">
    <div th:insert="~{fragments/header::non-signed-in-menu}"></div>
</nav>
<div class="app-area" id="main-menu">
    <div id="main-menu-head-content">
        <div id="main-menu-text">
            <h1 style="text-align: center">Library App</h1>
            <p>Our library system application offers a seamless and efficient way to manage your library's resources. From cataloging books to tracking loans and returns, our user-friendly interface simplifies the entire process. </p>
            <p>1. With our library system app, patrons can easily search for books, check availability and make orders. </p>
            <p>2. Librarians will appreciate the robust administrative features of our library system application. They can effortlessly add new items to the catalog or update existing records.</p>
            <p>3. Our library system application prioritizes user privacy and data security. We implement strict protocols to safeguard personal information and ensure that all crucial interactions within the system are encrypted.</p>
            <p>To sign in to your personal or manager account please click Sign In</p>
        </div>
        <img id="main-menu-img" th:src="@{/images/library-img.jpg}"/>
    </div>
    <div id="main-menu-action">
        <div>
            <h2>Do you have account?</h2>
            <form th:action="@{/users/login}">
                <button type="submit">Sign In</button>
            </form>
        </div>
        <div>
            <h2>Don't have an account yet?</h2>
            <form th:action="@{/users/registerForm}">
                <button type="submit">Sign Up</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>