<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sing in - Library</title>
</head>
<body>
  <nav>
    <div th:insert="~{fragments/header::non-signed-in-menu}"></div>
  </nav>
  <div class="app-area">
    <form th:action="@{login}" method="post">
      <div class="form=element">
        <label for="email-field">Email</label>
        <input type="email" th:name="email" id="email-field">
      </div>
      <div class="form-element">
        <label for="password-field">Password</label>
        <input type="password" th:name="password" id="password-field">
      </div>
      <button>Sing in</button>
    </form>
  </div>
</body>
</html>