<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Library Manager</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<nav class="main-nav">
    <a th:href="@{/}">Main Menu</a>
    <a th:href="@{/login/}">Login</a>
    <a th:href="@{/registerForm/}">Register</a>
    <a th:href="@{/book-manager/}">Manage Books</a>
    <a th:href="@{/library/}">Borrow Books</a>
    <a th:href="@{cartView}">Cart</a>
</nav>
<div class="app-area">
    <a th:href="@{searchForBookForm}">
        <button>Search For Book</button>
    </a>
    <a th:href="@{cartView}">
        <button>Cart</button>
    </a>
    <a th:href="@{viewBooks}">
        <button>View Available Books</button>
    </a>
</div>
</body>
</html>