<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Your Cart - Library</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
<body>
<nav class="main-nav">
        <div th:insert="~{fragments/header::customer-menu}"></div>
</nav>
<div class="app-area">
    <table th:insert="~{fragments/content::basic-book-table(books = ${booksInCart})}"></table>
    <p th:if="${booksInCart.isEmpty()}">Cart is empty</p>
    <div th:if="${!booksInCart.isEmpty()}">
        <h3>Enter book ID to remove it from cart</h3>
        <form th:if="${booksInCart}" th:action="@{removeFromCart}" method="post">
            <label for="book-id">Book ID: </label>
            <input type="number" th:name="book_id" id="book-id">
            <input type="submit">
        </form>
    </div>
    <p th:if="${errorMessage}" class="errors" th:text="${errorMessage}"/>
    <p th:if="${successMessage}" th:text="${successMessage}"/>
    <div th:if="${!booksInCart.isEmpty()}">
        <form th:if="${booksInCart}" th:action="@{confirmOrder}" method="post">
            <button type="submit">Confirm order</button>
        </form>
    </div>
    <h3 th:if="${orderMessage}" th:text="${orderMessage}"/>
</div>
</body>
</html>