<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Books Available - Library</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
<body>
<nav class="main-nav">
    <a th:href="@{/}">Main Menu</a>
    <a th:href="@{/login/}">Login</a>
    <a th:href="@{/register/}">Register</a>
    <a th:href="@{/book-manager/}">Manage Books</a>
    <a th:href="@{/library/}">Borrow Books</a>
    <a th:href="@{cartView}">Cart</a>
</nav>
<div class="app-area">
    <table class="books-table">
        <form th:action="@{viewBooks}" method="get">
            <tr class="row header">
                <td><button type="submit" class="row-button" th:name="sort_by" th:value="bookId">Book ID</button></td>
                <td><button type="submit" class="row-button" th:name="sor_by" th:value="title">Title</button></td>
                <td><button type="submit" class="row-button" th:name="sort_by" th:value="bookGenre">Genre</button></td>
                <td><button type="submit" class="row-button" th:name="sort_by" th:value="publicationYear">Publication Year</button></td>
                <td><button type="submit" class="row-button" th:name="sort_by" th:value="author">Author</button></td>
            </tr>
        </form>
        <tbody>
        <tr th:each="b : ${books}">
            <td th:text="${b.bookId}"/>
            <td th:text="${b.title}"/>
            <td th:text="${b.bookGenre.displayName}"/>
            <td th:text="${b.publicationYear}"/>
            <td th:text="${b.author}"/>
        </tr>
        </tbody>
    </table>
    <h3>Enter book ID to add to cart</h3>
    <form th:action="@{/library/addToCart}" method="post">
        <label for="book-id">Book ID: </label>
        <input type="number" th:name="book_id" id="book-id">
        <input type="submit">
    </form>
    <p th:if="${errorMessage}" class="errors" th:text="${errorMessage}"/>
    <p th:if="${successMessage}" th:text="${successMessage}"/>
</div>
</body>
</html>